{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
	<h1 class="page__title">Редактирование товара</h1>

	<div class="form">
		<h2 class="form__title">Информация о товаре</h2>
		<form action="/product-edit-alert" method="post">
			<div class="form__content">
				{{#with product}}

				<div class="form__fieldsInLine">
					<div class="form__field">
						<label for="name" class="form__label">Название товара:</label>
						<input type="text" name="name" class="form__input" value="{{name}}">
					</div>

					<div class="form__field">
						<label for="price" class="form__label">Цена:</label>
						<input type="number" name="price" class="form__input" value="{{price}}">
					</div>

					<div class="form__field">
						<label for="price" class="form__label">ID:</label>
						<input type="number" name="id" class="form__input" readonly value="{{id}}">
					</div>
				</div>

				<div class="form__field">
					<label for="description" class="form__label">Описание товара:</label>
					<textarea name="description" class="form__input" rows="3">{{description}}</textarea>
				</div>

				<div class="form__buttons">
					<button class="form__button__edit">Сохранить изменения</button>
					<button><a class="form__button__delete" href="/product-delete?id={{id}}">Удалить товар</a></button>

				</div>

				{{/with}}
			</div>
		</form>
	</div>

</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}