{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
	{{#with data}}
	<form method="POST" action="/purchase-submit?id={{id}}" class="form-card">
		{{> heading title = "Ваш заказ"}}

		<ul class="cart">
			{{#each cart}}
			<li class="cart__item">
				<div>{{text}}</div>
				<div>{{price}} грн</div>
			</li>
			{{/each}}
		</ul>

		{{> divider}}

		{{> heading title = "Оформление заказа"}}

		<div class="item__table">
			{{> field label="Имя" name='firstname'}}
			{{> field label="Фамилия" name='lastname'}}
			{{> field label="Телефон" name='phone'}}
			{{> field label="Почта" name='email'}}
		</div>
		{{> field label="Комментарий" name='comment'}}
		<div class="item__table">
			{{> field label="Списать бонусы" name='bonus'}}
			{{> field label="Промо-код" name='promocode'}}
		</div>

		{{> divider}}

		{{> field value=totalPrice name='totalPrice' disabled=true}}
		{{> field value=productPrice name='productPrice' disabled=true}}
		{{> field value=deliveryPrice name='deliveryPrice' disabled=true}}
		{{> field value=amount name='amount' disabled=true}}

		<strong class="form-card__total">
			Всего: {{totalPrice}} грн ({{bonus}} грн бонусов)
		</strong>

		{{> button text="Оформить заказ"}}

	</form>
	{{/with}}
</div>



{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}