{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
	{{#with data}}
	<div class="main__content">
		<h1 class="title title--center title--big">Пошук плейліста</h1>

		<form method="POST" action="/spotify-search" class="search">
			<img src="svg/spotify-search.svg" alt="search">
			<input type="search" class="search__input" name="value" value="{{value}}" placeholder="Введiть запит">
			<button class="search__button">Пошук</button>
		</form>

		<ul class="playlist__list">
			{{#each list}}
			<li class="playlist">
				<img src="{{image}}" alt="{{name}}" height="100px"> {{!-- без height прыгает страница --}}
				<div class="playlist__content">
					<a href="/spotify-playlist?id={{id}}">
						<strong class="playlist__name">{{name}}</strong>
					</a>
					<em class="playlist__author">Кiлькiсть пiсень: {{amount}}</em>
				</div>
			</li>
			{{/each}}
		</ul>

	</div>
	{{/with}}
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}